body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.container {
    display: flex;
}

#content {
    display: flex;
    background-color: rgb(88, 86, 86);
    flex: 1;
    align-items: center;  
    justify-content: center;  
}

.calculator.container {
    flex-direction: column;
    background-color: #0a202f;
    width: 550px;
    height: 700px;
    border-radius: 10px;
    padding: 20px;
    min-width: 369px;
}

#display {
    flex: 1;
    background-color: rgb(173, 166, 166);
    text-align: end;
    font-size: 150px;
    border-style: solid;
    border-width: 5px;
    text-shadow: 2px 2px #343232;
    margin-bottom: 10px;
}

.buttons.container {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

button {
    background-color: #ACF0F2;
    flex: 1;
    font-size: 30px;
    margin: 3px;
    font-family: monospace;
    font-weight: 900;
    border-radius: 4px;
    /* outline: none; */
}

button.operator,
#equals {
    background-color: #EB7F00;
    color: white;
}

button.toggled {
    background-color: white;
    color: #EB7F00;
}

.top-row {
    background-color: #598a71;
}

#product-label {
    display: flex;
    font-family: 'Lobster', cursive;
    color: #ACF0F2;
    font-size: 40px;
    grid-column: 1 / 4;
    align-items: center;
    justify-content: center;
}

#equals {
    grid-column-end: 5;
}


#header,
#footer {
    background-color: #1695A3;
    text-align: center;
    font-size: 30px;
}

#footer {
    font-size: 20px;
}
